@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Rubik+80s+Fade&family=Viaoda+Libre&display=swap');
body{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Viaoda Libre';
    font-size: 1.3em;
  
  }
  /* style for header elements */
  header{
    background-color: rgb(14 14 48);
    height: 60pt;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
   
  }
  header img{
    height: 50pt;
    margin-left: 10pt;

  }
  #buttons{
    border-top: 1pt solid wheat;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-family: "Rubik 80s Fade" ;
    background-color: rgb(14 14 48);
    color: wheat;
    font-size: 1.5em;

   
  }
  #buttons a{
    color: wheat;
  }
  #buttons *{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 30pt;
    width: 100%;
  }
  #buttons *:hover{
    background-color: wheat;
    color: rgb(14 14 48);
  }
  /* style for form elements */
  #word{
    height: 20pt;
    font-family:'Viaoda Libre';
    font-size: 1.3em;
    }
    #formOne{
      width: 80%;
      display: flex;
     flex-direction: column;
      
    }
    #formOne>label{
      text-align: end;
      align-self: center;
      color:rgb(14, 14, 48);
      font-size: 20pt;
      margin: 10pt;
  
    }
  
  #language_choose{
    padding: 10pt;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(14, 14, 48);
    
  }
  #language_choose p{
    margin: 0pt;
    padding-right: 10pt;
  }
  #language_choose_element{
    display: flex;
    justify-content: space-around;
    color: wheat;

  }
  #language_choose>label{
    display: flex;
    align-items: center
  }
 
  #first_language{
    height: 20pt;
    font-family:'Viaoda Libre';
  }
  #second_language{
    height: 20pt;
    font-family:'Viaoda Libre';
  }


  #enter{
    border: 2pt solid black;
    width:80%;
    display: flex;
    align-content: center;
    flex-direction: column;
    height: auto;
    align-items: center;
    padding-bottom: 2%;
  }


  input:valid {
    border-color: none;
  }
  input:required{
    background-color:none;
  }
  input:invalid{
    background-color: #f0eae0;;
  }
  #translate{
    width: auto;
    align-self: center;
    margin: 10pt;
    background-color: #f0eae0;
    border-radius: 5pt;
    border: none;
    font-family: 'Viaoda Libre';
    font-size: 1.1em;
    

  }
  #translate:hover{
    background-color: wheat;
    transform: scale(1.1,1.1);

  }
  #translate:active{
    background-color: #f0eae0;
  }

/* style for cardShowElement */
.showCardDiv {
  width: 60%;
  display: block;
  justify-content: space-around;
  padding-left: 0pt;
  text-align: center;

}
.showCardDiv li{
  width: 100%;
  height: 200pt;
  display: flex;
 list-style: none;
  justify-content:center;
  align-items: center;
  position: relative;
}
/* style for Book Page */
  .cards{
    display: flex;
    width: 100%;
    
    display: grid;
    grid-template-columns: auto auto;
  }
  .cards li{
    width: 80%;
    height: 100pt;
    list-style: none;
    justify-content:center;
    align-items: center;
    position: relative;
    margin: 2%;
  }
  /* showCardElement buttons */
  .nextBtn{
    position: relative;
    
    height: 5%;
    z-index: 2;
    border-radius: 10pt;
    background-color: #f0eae0;
  }
  .backBtn{
    
    position: relative;
    
    z-index: 2;
    border-radius: 10pt;
    background-color: #f0eae0;
  }
  
  
 
  .closeBtn{
    position: relative;
    left: 60%;
    bottom: 200pt;
    z-index: 10;
  }

  
  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card{
    cursor: pointer;
    width: 100%;
    height: 100%;
    
  }

  .face,.back{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
   
  }
  .face{

    background-color: rgb(14, 14, 48);;
    transform: rotateY(0deg);
    font-size: 1.6em;
    color: wheat;
  }
  .back{
    background-color:  wheat;
    transform: rotateY(180deg);
    font-size: 1.6em;
    color:  rgb(14, 14, 48);
  }
  .card:hover> .face{
    transform: rotateY(-180deg);
   
    }
    .card:hover > .back{
    transform: rotateY(0deg);
   
    }
    /* style for info element */
    #info{
      display: grid;
      grid-template-columns: 30% 30% 30%;
      gap: 3%;
      width: 90%;
      justify-content: center;
      
  
    }
    /* style for defenitionShow Element and Buttons */
    li.defLine{
      width: 100%;
      list-style: none;
      display: flex;
      font-size: 1.5em;
      justify-content: space-between;
      margin-bottom: 2pt;
      align-items: center;
      }
    #defList{
      flex-direction: column;
      align-items: center;
      margin-bottom: 5%;
    }
    .defLine p{
      margin: 0pt;
    }
    .defLineDiv{
      display: flex;
    }
  
    
  #def{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  
    align-self: center;
    padding-left: 0pt;
    
  }
  .defButton{
    background-repeat: no-repeat;
    background-color:#f0eae0;
    background-position: center;
    padding: 2%;
    height: 20pt;
    width: 20pt;
    border-radius: 5pt;

  }
  .defButton:hover{
    transform: scale(1.2,1.2);
    background-color: wheat;;
    color: aliceblue;
    box-shadow: 2pt 2pt 5px rgb(249, 249, 251);
  }
  .defButton:active{
    background-color: #f0eae0;
  }

  .defButton img{
    height: 14pt;
    width: 14pt;
  }
  /* style for parts of speach element */
  #pos{
    padding-left: 0pt;
  }
  #pos li{
    list-style: none;
    background-color: #f0eae0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-bottom: 2%;
    border-radius: 5pt;
  }
  #pos li:hover{
    transform: scale(1.1,1.1);
    background-color: wheat;

  }
  #pos li:active{
    background-color: #f0eae0;
  }
/* style for example element  */
  .exampleButton {
    height: 20pt;
    width: auto;
    background-position: center;
    background-color: #f0eae0;
    text-align: center;
    border-radius: 5pt;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .exampleButton:hover{
    background-color: wheat;
    transform: scale(1.1,1.1);

  }
  .exampleButton:active{
    background-color: #f0eae0;
  }
  #ex{
    padding:0pt;
    width: 100%;

  }
  #ex li{
    list-style: none;
  }
 
  
  /* .move:hover{
    animation: move 1s linear 2s  forwards 1;
    backface-visibility: hidden;
  } */
  /* style for pronounce button */
  #pronounceBtn{
    width: 30pt;
    height: 30pt;
    align-self: center;
    background-color: #f0eae0;
    border-radius: 5pt;
    grid-column: 2/3;
    justify-self: center;
  }
  #pronounceBtn:hover{
    background-color: wheat;
    transform: scale(1.2,1.2);
  }
  #pronounceBtn:active{
    background-color: #f0eae0;
  }

  #prnounceBtn img{
    width: 20pt;
    height: 20pt;
  }
  /* style for photo element  */
  #photoEl{
    padding: 5%;
  }

  
  
  /* @keyframes move{
    from {
transform: rotateY(0deg);
}
to {
transform: rotateY(90deg);
}
  }
  @keyframes unmove{
    from {
opacity: 0;
}
to {
  opacity: 1;
}
  } */

  @media only screen and (max-width: 600px) {
    #info{
      display:flex;
      flex-direction: column;

    }
   
    .cards,#language_choose{
      display:flex;
      flex-direction: column;
    }
    #buttons{
      display:flex;
      flex-direction: column;
    }
  }